@theme {
  --color-white: #F9F9F9;
  --color-black: #0C0C0C;

  --color-azul-primario: oklch(36.6% 0.166 254.6);
  --color-azul-secundario: oklch(51.2% 0.181 252.9);
  --color-azul-terciario: oklch(56.2% 0.174 244.1);
  --color-azul-quaternario: oklch(81.2% 0.144 217.6);

  --color-verde-accent: #27E8A4;
}