.floating {
  animation: floatingY 4s ease-in-out infinite;
}

@keyframes floatingY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}


.button-border::after, .button-border::before {
  content: '';
  position: absolute;
  height: 109.5%;
  width: 102.5%;
  background-image: conic-gradient(from var(--angle), var(--color-azul-quaternario), var(--color-verde-accent), var(--color-verde-azul), var(--color-azul-quaternario));
  z-index: -10;
  animation: 3s border-spin linear infinite;

  @apply rounded-full;
}

.features-section-gradient {
  background: linear-gradient(
    to bottom,
    transparent 0%,
    var(--color-secondary) 30%,
    var(--color-secondary) 100%
  );
}

.dark .features-section-gradient {
  background: linear-gradient(
    to bottom,
    transparent 0%,
    var(--color-absolute-black) 30%,
    var(--color-absolute-black) 100%
  );
}
  

.button-border::before {
  filter: blur(5px);
  opacity: 0.5;
}

@keyframes border-spin {
  from{
    --angle: 0deg;  
  }
  to {
    --angle: 360deg;
  }
}